/*
Custom CSS
=============
AUTHOR:  JACOB MINES | MINES EYE MEDIA
UPDATED: May 2018
NOTES: ADDITIONAL NOTES.
*/

/* ? Color References */
/* background: #1abc9c;
background: #3498db;
background: #9b59b6;
background: #34495e;
background: #f1c40f;
background: #e67e22;
background: #e74c3c;
background: #bdc3c7;
background: #2ecc71;
background: #16a085; */


/*------------------------------------*\
   #MASTER OVERIDES & DECLARATIONS
/*------------------------------------*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/*------------------------------------*\
   #LAYOUT
/*------------------------------------*/
/* TODO: Visual Markers */
.master--container-marker {
    border: 2px solid #e74c3c;
}

.master--row-marker {
    border: 2px dashed #f1c40f;
}

.marker1 {
    border: 1px dotted #3498db;
}

.marker2 {
    border: 1px dotted #e67e22;
}

.marker3 {
    border: 1px dotted #34495e;
}

/* TODO: End Visual Markers */

/* TODO: Main Site Colors */
/* rgb(20, 20, 34); - Main Background */
/* rgb(230, 84, 37) - Solid Orange Button:hover */
/* rgb(32, 150, 139) - Main Header */
/* #20968b - Main Header Hex */
/* rgb(208, 208, 210) - Main Text */
/* #d0d0d2 - Main Text in Hex */
/* rgb(83, 83, 93) - Text Outline?? */
/* #262633 - blockquote background */
/* #c5eae7 - 'Seamless Intergration' FA Icon Color */
/* ?ProFeatures Colors */
/* #45c3ec - Pro Features Header */
/* #c5eae7 - Pro Features Text (same as SeemlessInt FA Color) */
/* rgba(69,195,236,.8) - ProFeat Button BG */
/* #45c3ec - ProFeat Button Outline & :hover */
/* #e0cd61 - 7 day trial link:hover:focus */
/* ?Enterprise Colors */
/* #69e2b3 - Header Text */
/* #c1eadb - Para Text */
/* rgba(105,226,179,.8) - Enterprise Button BG */
/* #69e2b3 - Enterprise Button Outline & :hover */
/* ?Footer Colors */
/* #d0d0d2 - Footer Text */
/* *** */
/* rgb(249, 239, 193) - Link NON-HOVER */
/* #e0cd61 - Link:hover:focus */


body {
    background: rgb(20, 20, 34)
}



/*------------------------------------*\
   #TYPOGRAPHY
/*------------------------------------*/
/* * Font Stack - Uncomment & Use * */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Raleway', sans-serif; */


/*------------------------------------*\
   #NAVBAR
/*------------------------------------*/

/*------------------------------------*\
   #SECTION-TITLE
/*------------------------------------*/

/*------------------------------------*\
   #MEDIA QUERIES
/*------------------------------------*/

/* Portrait & landscape phone */

@media (max-width: 480px) {}


/* Landscape phone to portrait tablet */

@media (max-width: 768px) {}


/* Large desktop */

@media (min-width: 1200px) {}